body {
    background-color:rgb(255, 255, 255);
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
    list-style-type: none;
}

li {
    list-style-type: none;
}

.left-links {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
}

.right-links {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
}

.logo {
    display: flex;
    color:rgb(4, 9, 8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 900;
}

.main {
    display: flex;
    justify-content: center;
    color: rgb(22, 20, 20);
}