body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header ul {
    display: flex;
    flex-direction: row;
}

.header-links {
    gap: 20px;
}

.header-links ul {
    list-style-type: none;
}

.header-links a {
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    color:rgb(4, 9, 8);
    font-size: 50px;
    font-weight: 900;
    padding: 30px;
}

.main {
    display: flex;
    justify-content: center;
    color: rgb(22, 20, 20);
}