body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.logo {
    display: flex;
    color:rgb(4, 9, 8);
    font-size: 50px;
    font-weight: 900;
}

.main {
    display: flex;
    justify-content: center;
    color: rgb(22, 20, 20);
}