body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.header ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links ul {
    list-style-type: none;
}

.header-links a {
    color: rgb(8, 95, 89);
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px;
}

.header-links a:visited {
    color: rgb(8, 95, 89);
}

.header-links a:hover {
    color: rgb(24, 169, 160);
}

.logo {
    display: flex;
    justify-content: center;
    color:rgb(4, 9, 8);
    font-size: 50px;
    font-weight: 900;
}

.main {
    display: flex;
    justify-content: center;
    color: rgb(22, 20, 20);
}