body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.header ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links ul {
    list-style-type: none;
}

.header-links a {
    color: rgb(8, 95, 89);
    text-decoration: none;
    padding-bottom: 5px;
}

.header-links a:visited {
    color: rgb(8, 95, 89);
}

.header-links a:hover {
    color: rgb(24, 169, 160);
    border-bottom: 1px solid;
}

.logo {
    display: flex;
    justify-content: center;
    color:rgb(4, 9, 8);
    font-size: 50px;
    font-weight: 900;
    padding: 30px;
}

.logo a, .logo a:visited {
    color:rgb(4, 9, 8);
    text-decoration: none;
}

.logo a:hover {
    color: rgb(24, 169, 160);
}

/*.main {
    display: flex;
    justify-content: center;
    color: rgb(85, 85, 85);
    font-size: 14px;
    padding-bottom: 40px;
}*/

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(85, 85, 85);
    font-size: 16px;
    padding-bottom: 40px;
    padding-top: 30px;
    border-top: 1px solid;
    width: 60vw;
    text-align: justify;
}